
body {
  margin: 0;
  background-color: #aaeeaa;
}

.projects-nav {
  margin: 2em;
  display: flex;
}

h1 {
  width: 40%;
}

h2 {
  text-align: center;
  margin: 2em 0 2em;
}


#navLinks {
  display: flex;
  list-style-type: none;
  font-size: 1.3em;
}

#navLinks li {
  margin: 5px 1em;
}

.fullPage {
  margin: 2em 2em;
}

#technologiesPage {
}

ul.technologies {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  list-style: none;
}

.page-footer {
  background-color: #333333;
  color: white;
  height: 40px;
}

.project-title {
  text-align: center;
  font-size: 1.2em;
}

.img-container {
  height: 200px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.page-footer div {
  margin: 0 4em;
  text-align: right;
} 
